body
{
    margin: 20;
    padding: 20;
    font-family: sans-serif;
    background-image:url(#ffffff);
    background-size: cover;
    background-position: center;

}
.sign-up-form
{width: 400px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 40px;
    margin: 20% auto 0;
    text-align: center;
}
.sign-up-form
{
    color: #000080;
    margin-bottom: 30px;
}
.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
button
{
    color: midnightblue;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
    .CREATEACCOUNT-BTN
    {
        background-color: #add8e6;
    }
    {
        text-decoration: #fffff;
    }
    hr
    {
        margin-top: 20px;
        width: 80%;
    }
background-image: url(C:\Users\Emidowo-Ojo J\Desktop\Piggyvest Signup page\Img.piggyvest.png)
background-repeat: no-repeat
    width: 10px;
    height: 20px;
}
}
